@import url(https://fonts.googleapis.com/css?family=Lobster);

html {
    height: 100%;
    font-family: sans-serif;
}
body {
    margin: 0px;
    height: 100%;
}

h1, h2 {
    font-family: Lobster, Cambria, "Times New Roman", serif;
    color: white;
}

p {
    margin: 0;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: repeating-linear-gradient(45deg, #303F9F 0px, #303F9F 40px, black 40px, black 60px);
    background-repeat: round;
}

header h2 {
    margin-left: 2.5%;
}

header button {
    margin-right: 2.5%;
    border: none;
    padding: 0px;
    font-size: 0;
}
main {
    background-image: linear-gradient(#4b5cc9, white);
    margin-top: 0px;
    padding-top: 2.5%;
    padding-left: 5%;
    min-height: 99%;
}

.video {
    display: inline-block;
    padding: 0% 5% 5% 0%;
}
