:root {
    --accent-color: #59cdf7;
}

.icon-link {
    text-decoration: none;
}

/* ChatGPT code: this cheats the position of the terminal icon on the navbar up slightly,
just to make it look a little better */
.icon-link i {
    position: relative;
    top: -3.5px; /* Adjust this value as needed */
}

.navbar {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}

#navbarToggle {
    width: fit-content;
}

/* Make accented text blue */
.accent {
    color: var(--accent-color); /* Dominant color from profile pic */
}

main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
}


#right-about-me {
    min-width: 300px; 
    max-width: 30%;
}


#left-about-me {
    min-width: 300px;
    padding-top: 10%;
    padding-right: 5%;
}


.profile-pic-caption {
    padding: 5px 4px;
    margin-top: 5px;
}

.accent-button {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

/* for the horizontal rule purlple line thing, use a div with 0px height
and a boarder, then you can set the width correctly */

/* 
Quote

The quote's outermost container spans the width of the whole 'about me' section `quote container`
`quote` is within this outermost container, has a width of 60%, and is centered in `quote container`
the `top-quote` element has 100%
*/

#quote-container {
    --padding-around: 1rem;
    --margin-around: 1rem;

    display: flex;
    justify-content: center;
    width: 100%;
    margin: var(--margin-around);
    
}

#quote {
    width: 80%;
}

#top-quote {
    width: 100%;
    margin: 0;
    padding: var(--padding-around);
    /* boarder done with bootstrap */
}

#bottom-quote-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;

}

#bottom-quote{
    padding: var(--padding-around)
    /* boarder done with bootstrap */
} 

.blueline {
    height: 0px;
    width: 50%;
    border-style: solid;
    border-color: var(--accent-color);
    border-width: 1px;
    margin-top: 1.3rem;
    margin-left: 1rem;
}

.section-heading {
    display: flex;
}

#skills-left {
    width: 40%;
}

#skills-left > img {
    max-width: 80%;
}

#skills-right .card, #projects .card {
    margin-bottom: 1rem;
    border-radius: 0;
}

#projects .col-md {
    max-width: 100%;
}

footer {
    padding-left: 10%;
    padding-right: 10%;
}